#if defined(UNDER_CE)
#include <winbase.h>
#else
#include <winver.h>
#endif

//IDI_ICON1               ICON    DISCARDABLE     "pic.ico"

VS_VERSION_INFO VERSIONINFO
    FILEVERSION 1,0,0,2
    PRODUCTVERSION 1,0,0,2
	FILEFLAGSMASK  0x3fL
    FILEFLAGS 0x0L
    FILEOS VOS__WINDOWS32
    FILETYPE VFT_APP
    FILESUBTYPE 0x0L
    BEGIN
        BLOCK "StringFileInfo"
        BEGIN
            BLOCK "000004b0"
            BEGIN
                VALUE "CompanyName", ""
                VALUE "FileDescription", "vpr_testTool"
                VALUE "FileVersion", "1.0.0.2"
                VALUE "LegalCopyright", "(C) 2010-2017"
				VALUE "InternalName", "vpr_testTool"
                VALUE "OriginalFilename", "vpr_testTool.exe"
                VALUE "ProductName", "vpr_testTool\0"
                VALUE "ProductVersion", "1.0.0.2\0"
            END
        END
		BLOCK "VarFileInfo"
		BEGIN
			VALUE "Translation", 0x0, 1200
		END
    END
